.navbar-custom {
  background-color: #033f63 !important;
  height: 56px; /* altura fija del navbar */
}

.logo-navbar {
  height: 120px; /* más alto que el navbar */
  width: auto;
  object-fit: contain;
  margin-top: -12px;  /* sube el logo */
  margin-bottom: -12px; /* baja el logo */
}

img {
    max-width: 100%;
    display: block;
  }

#mi_mapa {
    height: 650px;
    width: 900px;
    display: block;
    margin-top: 20px;
     margin: 20px auto;
}

.titulo_mapa h2{
  font-size: 45px;
  color: #033f63;   /* color azul del navbar */
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

/* ===== Estilos para sección de clima ===== */
#clima-container {
  position: sticky; /* queda visible al hacer scroll */
  top: 100px;       /* ajusta según altura del navbar */
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  z-index: 1000;
}

#clima {
  margin-top: 15px;
}

#clima h3 {
  color: #033f63;
}

#clima ul {
  list-style: none;
  padding: 0;
}

#clima ul li {
  background: #f9fafb;
  border-radius: 10px;
  margin: 8px 0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}